@font-face {
    font-family: BrassMono;
    src: url(/Fonts/fontforge.otf);
}

body {
    background: linear-gradient(to bottom, #0D001F, #19014D); 
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 60px;
    color: #ffffff;
    font-family: BrassMono, serif;
    text-align: center;
}

.section-title {
    font-size: 24px;
    color: #ffffff;
    font-family: BrassMono, serif;
    text-align: center;
    margin: 32px;
}

.text {
    font-size: 16px;

    color: #ffffff;
    font-family: BrassMono, serif;
    text-align: center;
    font-weight: normal;
}

.yellow {
    font-size: 16px;
    margin: 32px;
    color: #f2ed58;
    font-family: BrassMono, serif;
    text-align: center;
    font-weight: normal;
}

.grey {
    font-size: 16px;
    color: #696969;
    font-family: BrassMono, serif;
    text-align: center;
    font-weight: normal;
    margin-top: 0px;
}

.quote {
    font-size: 16px;
    color: #f2ed58;
    font-family: BrassMono, serif;
    text-align: center;
    font-weight: normal;
}

a {
    font-size: 16px;

    color: #5865f2;
    font-family: BrassMono, serif;
    text-align: center;
    font-weight: normal;
}

.fade-in {
    opacity: 0;
    transform: translateY(69px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

#displayedImage {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#displayedImage.fade-out {
    opacity: 0;
}
